<section class="card">
  <a href="/painting/{{id}}">
    <header>{{title}}</header>

    <div class="card-body">
      
      <p>By: {{author}}</p>
      <p>Post: {{content}} </p>
    
    </div>
  </a>
</section>