
 <div class="blogPostContainer">
    <h2>
      Make a new blog post!
    </h2>
    <form class="blogPostForm">
      <label for="title">
        Title:
      </label>
      <br />
      <textarea id="title" name="title" rows="2" cols="30">
      {{title}}
    </textarea>
      <br />
      <label for="content">
        What are you talking about?:
      </label>
      <br />
      <textarea id="content" name="content" rows="5" cols="30">
      {{content}}
    </textarea>
      <br />
      <label for="author">
        Author:
      </label>
      <br />
      <textarea id="author" name="author" rows="2" cols="30">
      {{author}}
    </textarea>
      <br />
      <br />
      </label>
      <br />
      <button type="submit" value="Submit">
        Submit
      </button>
    </form>
    </div>
</div>

