<div class="HeaderIntro">Here are our current posts!</div>
<p></p>
{{#each blogPosts as |post|}}
<div></div>
<br>
<div class="card">
<h3>{{post.title}}</h3>
<p>
<h2>{{post.author}}</h2>
</p>
<p><br>{{post.content}}<br></p>
</p>
</div>
{{/each}}