<div class="gallery">
<h1>Here are our current blog posts!</h1>
</div>
<br>
<div class="HeaderIntro"></div>
<p></p>
{{#each blogPosts as |post|}}
<div></div>
<br>
<div class="card">
<h3>{{post.title}}</h3>
<p>
<h2>{{post.author}}</h2>
</p>
<p><br>{{post.content}}<br></p>
</p>
</div>
{{/each}}